<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Do Do List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %> </h1>
    </div>

    <div class="box">
        <% toDoList.forEach(element => { %>
            <div class="item">
                <input type="checkbox"><p><%= element %></p> 
            </div>
        <% }); %>

        <form class="item" action="/" method="post">
            <input type="text" name="toDoItem" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
    


    

</body>
</html>