<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Do List</title>
</head>
<body>
    <h1><%= kindOfDay %> </h1>

    <h2>To Do List</h2>
    <ul id="toDo">
        <% toDoList.forEach(element => { %>
            <li><%= element %></li> 
        <% }); %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="toDoItem" placeholder="New Item">
        <button type="submit">Add To Do</button>
    </form>

</body>
</html>